# markdown
## markdown
### markdown
#### markdown
 - *python*

- python 1
- python 2
         - python 1
         - pyhon 2 
**python**
***a

In [2]:
print("hello world")

hello world

In [3]:
print("HELLO WORLD")

HELLO WORLD

In [5]:
print("jaswanth mukesh gowtham")

jaswanth mukesh gowtham

In [6]:
print("one" "two" "three")

onetwothree

In [7]:
a=10 # single variables assained to a single value
print(a)

10

In [8]:
a = b= c=10 #multiple variables assined to,multipled values 
print(a,b,c)

10 10 10

In [9]:
#multiple variables assined to multiplcation values
a,b,c=10,20,30
print(a,b,c)

10 20 30

In [11]:
# int
a =5
print(a)
print(a,type(a))

5
5 <class 'int'>

In [13]:
# float
f =5.5
print(f,type(f))

5.5 <class 'float'>

In [14]:
# string
s= "jaswanth"
print(s,type(s))

jaswanth <class 'str'>

In [17]:
n= 10
print(n,type(n))
f= float(n)
print(f,type(f))
s = str(n)
print(s,type(s))

10 <class 'int'>
10.0 <class 'float'>
10 <class 'str'>

In [23]:
f= 1.3
print(f,type(f))
n= int(f)
print(n,type(n))
s= str(f)
print(s,type(s))

1.3 <class 'float'>
1 <class 'int'>
1.3 <class 'str'>

In [25]:
s="123456"
print(s,type(s))
n =int(s)
print(n,type(n))
f =float(s)
print(f,type(f))

123456 <class 'str'>
123456 <class 'int'>
123456.0 <class 'float'>

In [27]:
#input as text
a =input("enter your name:")
print("my name is:",a)
print(type(a))

enter your name:jaswanth
my name is: jaswanth
<class 'str'>

In [28]:
#inout as number
q=int(input("enter a number:"))
print(q)
print(type(q))

enter a number:6
6
<class 'int'>

In [36]:
#Write a Python program which accepts the radius of a circle from the user and compute the area .
radius=int(input("enter radius:"))
area=3.14*radius**2
print("area of circle is:",area)

enter radius:45
area of circle is: 6358.5

In [39]:
a=int(input("enter first value" ))
b=int(input("enter second value"))
print("additionis",a+b,"multiplcation",a*b,"divsion",a/b)

enter first value2
enter second value5
additionis 7 multiplcation 10 divsion 0.4

In [42]:
year=int(input("enter year:"))
print("result",year+50)

enter year:2065
result 2115

In [47]:
x="name"
y="Is"
z="James"
print(x+"**"+y+"**"+z)

name**Is**James